.pagination {
  display: flex;
  width: 100%;
  padding: 16px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid var(--secondary-light);
}

.notFound {
  text-align: center;
  padding: 20px;
  color: var(--secondary);
  font-size: 16px;
}

.taskOnPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.pageInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.labelTasksPerPage,
.labelGoTo {
  font-size: 14px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
  white-space: nowrap;
}

.taskOnPageInput {
  padding: 4px 6px;
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 40px;
  text-align: center;
  font-size: 12px;
}

.taskOnPageInput:focus {
  outline: none;
  border-color: var(--primary);
}

.paginationPageNumber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.paginationButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationButton:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pageButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%;
}

.pageButton:hover {
  background-color: var(--white);
}

.activePage {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
}

.activePage:hover {
  background-color: var(--secondary);
}

.disabledArrow {
  opacity: 0.3;
}
