.tableContainer {
    width: 100%;
    position: relative;
    z-index: 1;
}

.tableHeader {
    display: flex;
    background-color: var(--white);
    font-weight: 600;
    border-bottom: 1px solid var(--grey);
    width: 100%;
}

.tableBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.column {
    padding: 10px 16px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
