.footer {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

.buttonGroup {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.footerButton {
    padding: 5px 10px;
    color: lightgray;
    background-color: #303234;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    flex: 1;
    max-width: max-content;
    text-align: center;
}

.footerButton:hover {
    background-color: #8f9193;
    transform: translateY(-2px);
}
