.footer {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

.buttonGroup {
    display: flex;
    width: 100%;
    gap: 80px;
    justify-content: center;
}

.footerButton {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    flex: 1;
    max-width: max-content;
    text-align: center;
}

.footerButton:hover {
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .buttonGroup {
        gap: 20px;
    }
}
