.tasksContainer {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #6b7280;
  font-size: 18px;
}


.contentWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.fadeTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, 
        var(--background-color) 0%, 
        rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

.fadeBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to top, 
        var(--background-color) 0%, 
        rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}
